{% extends 'base.html' %}
{% block title %}Optymalizacja zakupów{% endblock %}
{% block content %}
    <h3>Łączna kwota: {{ total_price }} zł</h3>
    <h3>Łączna kwota wraz z dostawami: {{ total_prices_with_delivery }} zł</h3>
    {% for seller, offers_deliveries_prices in grouped_offers_deliveries_prices.items %}
        <h3 class="my-3 fs-3">{{ seller }}</h3>
        <div class="list-group mb-3">
            {% for offer, delivery, total_price in offers_deliveries_prices %}
                <div class="list-group-item mb-3 border">
                    <div class="row">
                        <h5 class="pb-0 mt-1 mb-2 fs-4">{{ offer.product.name }}</h5>
                    </div>
                    <div class="row">
                        <div class="col-4 my-2">
                            <img src="{{ offer.product.image_url }}" alt="{{ offer.product.name }}"
                            class="rounded img-thumbnail"/>
                        </div>
                        <div class="col my-2 d-flex align-self-center flex-column">
                            <p class="fs-5">Cena: {{ offer.price }} zł</p>
                            <p class="fs-5">Ilość: {{ offer.product.quantity }}</p>
                            <p class="fs-5">Cena całkowita: {{ total_price }} zł</p>
                            <a href="{{ offer.product_buy_url }}" target="_blank"
                               class="btn btn-outline-primary fs-5" style="width: 120px">Kup teraz!</a>
                        </div>
                    </div>
                </div>
                {% if forloop.last %}
                    <div class="list-group-item border">
                        <div class="col my-2 d-flex align-self-center flex-column">
                            <p class="fs-5">Dostawa: {{ delivery.name }}</p>
                            <p class="fs-5 mb-0">Koszt dostawy: {{ delivery.price }} zł</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}