<!DOCTYPE html>
{% extends 'shopping/search.html' %}
{% block title %}Wyszukaj plikiem{% endblock %}
{% block additional_help %}
    <p>
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Jak wyszukać plikiem?
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <p>Aby wyszukać kilka produktów jednocześnie, należy przesłać plik w formacie txt.<br>
                Struktura każdej linii w pliku powinna wyglądać następująco:
            <p><code>nazwa produktu,filtr sklepu,nazwa kategorii,liczba produktów<br>
                </code></p>
            <p>Opis parametrów:</p>
            <ul>
                <li>nazwa produktu:</li>
                    <ul>
                        <li>dowolny tekst</li>
                    </ul>
                <li>filtr sklepu:</li>
                    <ul>
                        <li>1 - wszystkie sklepy</li>
                        <li>2 - tylko Allegro</li>
                        <li>3 - tylko Ceneo</li>
                    </ul>
                <li>kategoria:</li>
                    <ul>
                        <li>Zdrowie</li>
                        <li>Uroda</li>
                    </ul>
                <li>liczba produktów:</li>
                    <ul>
                        <li> liczba naturalna od 1 do 10</li>
                    </ul>
            </ul>
            <p>Przykład:<br>
                <code>Aspiryna,1,Zdrowie,7</code></p>
            <p class="mb-0">Plik nie może posiadać nagłówka, dozwolone są puste linie.<br>
                Maksymalna liczba produktów w pliku wynosi 10.</p>
        </div>
    </div>

{% endblock %}
{% block results %}
    <div class="accordion col mt-1" id="accordionExample">
        {% for render in rendered %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ render.id }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ render.id }}" aria-expanded="true"
                            aria-controls="collapse{{ render.id }}">
                        {{ render.product_query }}
                    </button>
                </h2>
                <div id="collapse{{ render.id }}"
                     class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                     aria-labelledby="heading{{ render.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="col container mt-5" style="display: inline-block; vertical-align: top">
                            <div class="row">
                                {% with forloop.counter as search_no %}
                                {% for product in render.products %}
                                    <div class="col-xl-4 mb-4">
                                        <div class="card h-100">
                                            <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                                            <div class="card-body">
                                                <h6 class="card-title">{{ product.name }}</h6>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex flex-wrap mt-2">
                                                    <div class="d-flex me-2 mb-1">
                                                        <form action="/add_product/" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="product" id="{{ search_no }}00{{ forloop.counter }}" value="{{ product }}" />
                                                            <input type="hidden" name="getNumber" value="0" id="amount{{ search_no }}00{{ forloop.counter }}"/>
                                                            <input type="submit" value="Dodaj"
                                                               class="btn btn-primary btn-block"
                                                               product="{{ product }}"
                                                               onclick="getValue({{ search_no }}00{{ forloop.counter }})"/>
                                                        </form>
                                                    </div>
                                                    <div class="d-flex flex-row">
                                                        <div class="amount-button"
                                                             id="decrease"
                                                             onclick="decreaseValue({{ search_no }}00{{ forloop.counter }})"
                                                             value="Decrease Value">-
                                                        </div>
                                                        <div class="amount">
                                                            <input class="number" type="number" id="number{{ search_no }}00{{ forloop.counter }}" value="{{ render.quantity }}"/>
                                                        </div>
                                                        <div class="amount-button"
                                                             id="increase"
                                                             onclick="increaseValue({{ search_no }}00{{ forloop.counter }})"
                                                             value="Increase Value">+
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bot-field">
                                                    <span class="price-field">
                                                        Cena: {{ product.price|floatformat:2 }}zł
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}