<!DOCTYPE html>
{% extends 'shopping/search.html' %}
{% block results %}
    <div class="accordion col mt-5" id="accordionExample">
    {% for render in rendered %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ render.id }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ render.id }}" aria-expanded="true" aria-controls="collapse{{ render.id }}">
                    {{ render.product_query }}
                </button>
            </h2>
            <div id="collapse{{render.id}}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{render.id}}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="col container mt-5" style="display: inline-block; vertical-align: top">
                        <div class="row">
                            {% for product in render.products %}
                                <div class="col-md-4 mb-5">
                                    <div class="card h-100">
                                        <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                                        <div class="card-body">
                                            <h6 class="card-title">{{ product.name }}</h6>
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ product.link }}" class="btn btn-primary btn-block">Dodaj</a>
                                            <span class="mt-2" style="float:right;">
                                                    Cena: {{ product.price|floatformat:2 }}zł
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}