<!DOCTYPE html>
{% extends 'shopping/search.html' %}
{% block results %}
<div class="col container mt-3" style="display: inline-block; vertical-align: top">
    <div class="row">
        {% for product in products %}
            <div class="col-xl-4 mb-4">
                <div class="card h-100">
                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title pb-0 mb-0 fs-4">{{ product.name }}</h5>
                        </div>
                    </div>
                    <div class="card-footer" style="height: 105px">
                        <div class="d-flex flex-wrap mt-2">
                            <div class="d-flex me-2 mb-2">
                                <form action="/add_product/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product" id="{{ forloop.counter }}" value="{{ product }}" />
                                    <input type="hidden" name="getNumber" value="0" id="amount{{ forloop.counter }}"/>
                                    <input type="submit" value="Dodaj"
                                       class="btn btn-primary add-btn"
                                       product="{{ product }}"
                                       onclick="getValue({{ forloop.counter }})"/>
                                </form>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="amount-button"
                                     id="decrease"
                                     onclick="decreaseValue({{ forloop.counter }})"
                                     value="Decrease Value">-
                                </div>
                                <div class="amount">
                                    <input class="number" type="number" id="number{{ forloop.counter }}" value="1"/>
                                </div>
                                <div class="amount-button"
                                     id="increase"
                                     onclick="increaseValue({{ forloop.counter }})"
                                     value="Increase Value">+
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex my-1 justify-content-end">
                                <h5 class="pb-0 mb-0 fs-5">Cena: {{ product.price|floatformat:2 }} zł</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}